{% extends "base.html" %}
{% block title %} Login - Fortuna Wealth Maangement {% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center min-vh-100">
            <div class="col-md-6 col-lg-4">
                <div class="login-container">
                    <h1 class="text-center mb-4">Welcome back</h1>
                    <form action="{{url_for('auth.login')}}" method="POST">
                        <div class="mb-3">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                                <label for="username">Username</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-floating">
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg">Log In</button>
                        </div>
                    </form>
                    <div class="text-center mt-3">
                        <a href="{{url_for('auth.register')}}" class="create-account">Create new account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


