{% extends "home.html" %}

{% block custom_css %}
    <link rel="stylesheet" href="{{url_for('portfolio.static', filename='css/portfolio_menu.css')}}">
{% endblock custom_css %}

{% block content %}
    <main class="content flex-grow-1 p-4">
        <div class="container">
            <h1>Select a Portfolio</h1>
            
            <div class="search-filter">
                <div class="search-container">
                    <span class="search-icon">🔍</span>
                    <input type="text" id="search-input" placeholder="Search portfolios...">
                </div>
                <select id="filter-select">
                    <option value="all">All Types</option>
                    {% for type in portfolio_types.values() %}
                    <option value="{{ type }}">{{ type }}</option>
                    {% endfor %}
                </select>
                <button class="suggested-portfolios">✨ Suggested Portfolios</button>
            </div>

            <div id="portfolio-grid" class="portfolio-grid">
                {# {% for portfolio in portfolios %}
                <div class="portfolio-card">
                    <div class="portfolio-card-header">
                        <h2 class="portfolio-name">{{ portfolio.name }}</h2>
                    </div>
                    <div class="portfolio-card-content">
                        <p class="portfolio-type">{% for type in portfolio.type %} {{portfolio_types[type]}} {% endfor %}</p>
                        <p class="portfolio-description">{{ portfolio.short_description }}</p>
                        <img src="static/images/{{ portfolio.image_url }}"+ alt="{{ portfolio.name }}" class="portfolio-card-image">
                    </div>
                    <div class="portfolio-card-footer">
                        <button onclick="openModal(${portfolio})">View Details</button>
                    </div>
                </div>
                {% endfor %} #}
            </div>
        </div>
        
        <div id="portfolioModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <img id="modalImage" src="" alt="" class="modal-image">
                    <h2 id="modalTitle" class="modal-title"></h2>
                    <p id="modalAllocation" class="modal-allocation"></p>
                    <p id="modalDescription" class="modal-description"></p>
                    <button class="invest-button">Invest Now</button>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}

{% block custom_js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {

            const portfolios = {{ portfolios|tojson|safe}};
            const portfolio_types = {{portfolio_types|tojson|safe}}
        
            const searchInput = document.getElementById('search-input');
            const filterSelect = document.getElementById('filter-select');
            const portfolioGrid = document.getElementById('portfolio-grid');


            function filterPortfolios() {
                const searchTerm = searchInput.value.toLowerCase();
                const filterType = filterSelect.value;

                portfolioGrid.innerHTML = '';

                portfolios.forEach(portfolio => {
                    if ((filterType === 'all' ||
                        portfolio.type.some(type => type === filterType)) &&
                        portfolio.name.toLowerCase().includes(searchTerm)) {
                        const card = createPortfolioCard(portfolio, portfolio_types);
                        portfolioGrid.appendChild(card);
                    }
                });
            }

            function createPortfolioCard(portfolio, portfolio_types) {
                const card = document.createElement('div');
                card.className = 'portfolio-card';

                card.innerHTML = `
                    <div class="portfolio-card-header">
                        <h2 class="portfolio-name">${portfolio.name}</h2>
                    </div>
                    <div class="portfolio-card-content">
                        <p class="portfolio-type">${ portfolio.type.join(", ") }</p>
                        <p class="portfolio-description">${ portfolio.short_description }</p>
                        <img src="static/images/${portfolio.image_url}" alt="${portfolio.name}" class="portfolio-card-image">
                    </div>
                    <div class="portfolio-card-footer">
                        <button class="open-modal" data-bs-toggle="modal" data-bs-target="#portfolioModal" >View Details</button>
                    </div>
                `;

                return card;
            }

            $(document).ready(function () {
                // Update modal content dynamically
                $('.open-modal').on('click', function () {
                    const id = $(this).attr('id')
                    const modalData = $(this).data(id); // Get the JSON string
                    const portfolio = JSON.parse(modalData); // Parse the JSON string into an object

                    // Update modal 
                    $('#modalImage').attr("src", portfolio.image_url);
                    $('#modalTitle').text(portfolio.name);
                    $('#modalAllocation').text(portfolio.allocation);
                    $('#modalDescription').text(portfolio.long_description);

                    
                });

                
            });
           
    
            searchInput.addEventListener('input', filterPortfolios);
            filterSelect.addEventListener('change', filterPortfolios);

            // Initial filter
            filterPortfolios();

        })
    </script>
{% endblock custom_js %}

